<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SocietyAgendorDb"
         connectionString="Server=tcp:societyagendordb.database.windows.net,1433;Initial Catalog=SocietyAgendorDB;Persist Security Info=False;User ID={user};Password={password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>